.menuContainer {
  @apply absolute px-2 sm:px-5 py-1 flex gap-5 justify-between sm:left-1/2 left-0 top-10 rounded-md flex-col sm:flex-row;
  border: 1px solid theme("colors.border1");
  transform: translateX(-50%);
  box-shadow: theme("colors.shadow1");
  background-color: theme("colors.background1");

  .iconWrapper {
    @apply cursor-pointer flex justify-center items-center h-10 w-10 rounded-md;

    &:hover,
    &.active {
      background-color: theme("colors.text2");
    }
    .icon {
      color: theme("colors.text1");
      font-size: 20px;
    }
  }
}
